/* CSS Asset, THIS will AFFECT all other files */
body{
	margin: 0px;
}
h1{
	margin: 0px 0px 5px 0px;
}
.padding{
	padding: 15px;
}

.container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.justify{
	text-align: justify;
}